In [1]:
import numpy as np
import matplotlib.pyplot as plt
from scipy.integrate import odeint
from scipy.optimize import least_squares
import math
import pandas as pd
import csv
from scipy import stats
from scipy import optimize
from datetime import date, timedelta
import random
import requests
from scipy.stats import truncnorm

In [2]:
df = pd.read_csv('/media/juliane_oliveira/My Passport/dropbox_15_11_2019/Artigos_preprints/COVID19/Paper_submissions/Paper2/First review/Data and code analisys/outputs_testing/test_seiir_fits_boots.csv')

In [3]:
df.head()

,Unnamed: 0,state,type,beta0_ls,beta0_ml,beta1_ls,beta1_ml,tcut_ls,tcut_ml,delta_ls,delta_ml,e0_ls,e0_ml,ia0_ls,ia0_ml,is0_ls,is0_ml
0,0,AM,estado,1.233434,1.763611,0.591353,0.708238,93.952321,94.368859,0.700000,0.515792,0.000002,4.753044e-07,0.000002,2.592675e-07,5.443991e-08,6.869455e-07
1,1,AM,estado,2.000000,1.549807,1.098894,0.748755,96.350096,98.546809,0.247201,0.460819,0.000002,1.031083e-07,0.000002,5.626661e-07,1.172151e-06,1.379001e-06
2,2,AM,estado,1.155266,1.515730,0.597303,0.812038,94.766717,98.251489,0.699067,0.411809,0.000002,1.006499e-06,0.000002,1.721702e-06,5.789328e-07,1.715864e-06
3,3,AM,estado,1.997959,1.634999,1.019994,0.872344,93.934599,95.089442,0.290449,0.373129,0.000002,1.522335e-06,0.000002,1.858073e-06,8.602349e-07,1.931153e-06
4,4,AM,estado,1.213843,1.943396,0.593559,0.846689,94.450127,90.254304,0.700000,0.389947,0.000002,1.428494e-06,0.000002,1.129438e-06,5.052882e-08,1.651239e-06

In [11]:
import scipy.stats


def mean_confidence_interval(data, confidence=0.95):
    a = 1.0 * np.array(data)
    n = len(a)
    m, se = np.median(a), scipy.stats.sem(a)
    h = se * scipy.stats.skewnorm.ppf((1 + confidence) / 2., n-1)
    return m, m-h, m+h

In [12]:
lista = [ 'beta0_ls', 'beta0_ml', 'beta1_ls','beta1_ml', 'tcut_ls', 'tcut_ml', 'delta_ls', 'delta_ml', 'e0_ls',
       'e0_ml', 'ia0_ls', 'ia0_ml', 'is0_ls', 'is0_ml']

In [13]:
for value in lista:
    print(value, mean_confidence_interval(df[value], confidence=0.95))

beta0_ls (1.9996389365139469, 1.9103379183224014, 2.0889399547054923)
beta0_ml (1.6679693834668634, 1.6276538948050636, 1.7082848721286632)
beta1_ls (1.0358874037929677, 0.9848454925618654, 1.0869293150240702)
beta1_ml (0.8440423377979086, 0.8203602607043528, 0.8677244148914645)
tcut_ls (94.90161285942946, 94.74621738941407, 95.05700832944486)
tcut_ml (97.05327512145575, 96.54751104161514, 97.55903920129637)
delta_ls (0.28229439977241605, 0.23566979240875308, 0.328919007136079)
delta_ml (0.389065808891516, 0.3688341280873538, 0.4092974896956782)
e0_ls (2.376587422016826e-06, 2.3599183740948173e-06, 2.3932564699388348e-06)
e0_ml (1.1990215284690064e-06, 1.0754532287891466e-06, 1.3225898281488663e-06)
ia0_ls (2.376587422016826e-06, 2.376587400503949e-06, 2.376587443529703e-06)
ia0_ml (1.2609030062747696e-06, 1.141286721517328e-06, 1.3805192910322113e-06)
is0_ls (8.103499569424453e-07, 7.356443539347723e-07, 8.850555599501184e-07)
is0_ml (1.4924451641082333e-06, 1.3784685651908844e-06, 1.6064217630255821e-06)